.content {
  float:left;
  width: calc(100% - 300px);
  min-height: 700px;
  //background-image: url('../images/cloud.svg');

  &__bar {
    background: red;
    padding: 0;
    margin:0;
  }
}

.clearfix {
  @include clearfix;
}

.default-neat-grid {
  @include fill-parent;
}

a {
  margin-right: 1em;
}
