@import "_bourbon/bourbon";
@import "_neat/neat";

html{
  min-height: 100%;
  position: relative;
}
body{
  height: 100%;
  margin: 0;
}

h1 {
  font-size: 16pt;
  @include padding(20vh null 10px 3em);
}

h2 {
  font-size: 14pt;
}

@import "components/**/*";
